h2
{
    font-size: 30px;
    color: #211ae1;
    font-family: 'Roboto', sans-serif;
    font-weight: 900px;
    padding: center;
    text-align: center;

}

input {
    width: 100%;  /* Width is 100% of its parent container */
      max-width: 400px; /* Maximum width of 400px */
      height: 50px;  /* Set height */
      padding: 10px;  /* Padding inside the box */
      font-size: 16px;  /* Font size of the input */
      border: 2px solid #ccc;  /* Border around the input */
      border-radius: 5px;  /* Rounded corners */
      box-sizing: border-box;  /* Ensures padding is included in width/height */
      margin-left: 480px;
      background-color:rgba(128, 128, 128, 0.234);
      border-radius: 10px;
      cursor: pointer;
      display: flex;

}

 button {
    width: 100%;  /* Width is 100% of its parent container */
    max-width: 200px; /* Maximum width of 400px */
    height: 50px;  /* Set height */
    padding: 10px;
    /* Padding inside the box */
    font-size: 16px;
    border-radius: 10px;
   position: relative;
    top: -85px;
    margin-left:890px;
    cursor: pointer;
    color: #ffffff;
    background-color: rgba(88, 88, 94, 0.084);

 }
p
{
    font-size: 20px;
    color: #ffffff;
    font-family: italic;
    font-weight: 900px;
    padding: center;
    text-align: center;
}

body{
    background-image: url(mystical-blue-forest-gg1cjxrc51bn8oh3.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #181818;  /* Deep Charcoal/Black */
    background: linear-gradient(45deg, #181818, #2C2C2E);  /* Subtle gradient */
    color: #FFFFFF;  /* White text */
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}


div{
        width: 300px;
        border: 15px solid green;
        padding: 50px;
        margin: 20px;
        background-color: #f0f0f0;
        padding: 10px;
        margin-left: 600px;
        text-align: center;
        font-style: italic;
        color: aqua;
        background-color: black;
    }

 h1 {
   color: rgb(133, 20, 220);
   margin-left: 500px;
   margin-top: 200px;
 }
